* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(194, 226, 235);
}

nav {
    display: flex;
}

.navbar {
    background-color: rgb(61, 56, 56);
    width: 100%;
    height: 70px;
    justify-content: space-between;

}

.navbar a{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-left: 30px;
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
}

.menu {
    margin-top: 25px;
}

.menu a {
    margin-right: 30px;
    font-size: 15px;
    margin-left: 5px;
}

.mix {
    display: flex;
}

.filter {
    gap: 20px;
    display: flex;
    justify-content: center;
}

.filter form {
    display: flex;
    gap: 30px;
}

.k {
    text-align: center;
    margin-top: 30px;
    
}

.k label {
    font-size: 20px;
}

.k select{
    font-size: 15px;
}

.s {
    text-align: center;
    margin-top: 30px;
    
}

.s label {
    font-size: 20px;
}

.s select{
    font-size: 15px;
}

.f {
    text-align: center;
    margin-top: 30px;
    
}

.f label {
    font-size: 20px;
}

.f select{
    font-size: 15px;
}

.add {
    text-align: center;
    margin-top: 30px;
}

.add button {
    background-color: rgb(36, 145, 41);
    padding: 8px;
    width: 100px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.c-todo {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    
}

 .card {
    margin-bottom: 30px;
    margin-top: 30px;
    justify-content: center;
    margin-left: 40px; 
    background-color: white;
    border-radius: 15px;
    width: 370px;
    height: 200px;
}

.card-dark{
    background-color: black;
    color: white;
}

.card h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 23px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.card small {
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}

.card p {
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    margin-top: 10px;
}

.bt {
    display: flex;
    gap: 20px;
}

.edit button{
    cursor: pointer;
    background-color: rgb(47, 47, 228);
    width: 60px;
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 5px;
    padding: 7px;
    text-align: center;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.edit  a button {
    color: white;
    text-decoration: none;
    border: none;
}

.edit  a button:hover {
    background-color: grey;
    color: black;
}

.hapus button {
    cursor: pointer;
    background-color: red;
    padding: 7px;
    width: 60px;
    margin-top: 25px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hapus a button{
    color: white;
    text-decoration: none;
    border: none;
}

.hapus a button:hover {
    background-color: grey;
    color: black;
}