* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(234, 245, 248);
}

nav {
    display: flex;
}

.navbar {
    background-color: rgb(61, 56, 56);
    width: 100%;
    height: 70px;
}

.navbar a{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-left: 30px;
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
}

.login {
    margin-top: 50px;
    margin-left: 500px;
    background-color: white;
    width: 400px;
    height: 300px;
}

.login h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding-top: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.login label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    margin-left: 30px;
    font-weight: bold;
}

.login input{
    margin-left: 30px;
    width: 330px;
    padding: 3px;
}

.login button {
    background-color: rgb(46, 111, 252);
    margin-left: 30px;
    width: 340px;
    padding: 8px;
    border: none;
    color: white;
    font-size: 15px;
}

.login button:hover {
    background-color: grey;
    color: black;
}

.login p {
    text-align: center;
}

.login a {
    text-decoration: none;
}