* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(234, 245, 248);
}

.profil {
    background-color: white;
    width: 450px;
    height: 380px;
    margin-left: 500px;
    margin-top: 100px;
    padding-top: 30px;
    border-radius: 15px;
}

.profil p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 30px;
}

.profil button {
    margin-left: 30px;
    background-color: rgb(36, 145, 41);
    padding: 5px;
    margin-top: 30px;
    width: 390px;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}

.profil button:hover {
    background-color: grey;
    color: black;
}