* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(234, 245, 248);
}

nav {
    display: flex;
}

.navbar {
    background-color: rgb(61, 56, 56);
    width: 100%;
    height: 70px;
    justify-content: space-between;

}

.navbar a{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-left: 30px;
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
}

.menu {
    margin-top: 25px;
}

.menu a {
    margin-right: 30px;
    font-size: 15px;
    margin-left: 5px;
}

.card {
    background-color: white;
    width: 480px;
    margin-left: 470px;
    margin-top: 50px;
    height: 470px;
}

.card h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 20px;
}

.card label {
    margin-left: 30px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card input {
    margin-left: 30px;
    width: 400px;
    padding: 4px;
}

.card textarea {
    margin-left: 30px;
    width: 410px;
    height: 80px;
}

.card select {
    margin-left: 30px;
    width: 410px;
    padding: 5px;
}

.card button {
    background-color: rgb(57, 167, 84);
    width: 410px;
    margin-left: 30px;
    padding: 8px;
    border: none;
    color: white;
    border-radius: 5px;
}

.card button:hover {
    background-color: grey;
    color: black;
}